<div id="mainContainer">
  <p>
    1. First we added <b>Html2Canvas</b> to our scripts array inside of <b>"Angular.json"</b> 
  </p>
  <p>
    2. Define Html2Canvas in our .ts file like this <b>"declare let html2canvas: any;"</b>
  </p>
  <p>
    3. We make our function to call html2canvas to save div as png or jpg.
  </p>
  <hr>
  <h4>Your name:</h4>
  <input type="text" [(ngModel)]="string">
  <hr>
  <p>Thanks for visiting <b>{{ string }}</b>!</p>
  <hr>
  <button (click)="save('image.png')">Save <b>PNG</b></button>
  <button (click)="save('image.jpg')">Save <b>JPG</b></button>
</div>